@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
*{
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.loginform {
  display: flex;
    position: absolute;
    top: 115%;
    right: 105%;
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    width: 35rem;
    padding: 2rem;
    right: 2rem;
    transition: 0.4s linear;
  }
  .loginform button
  {
    display: flex;
    justify-content: end;
  }
  .loginform h3 {
    color: #222;
    text-transform: uppercase;
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 0.7rem;
  }
  .loginform .box {
    margin: 0.7rem 0;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    padding: 1rem 1.2rem;
    font-size: 1.5rem;
    color: #222;
    text-transform: none;
    width: 100%;
  }
  .loginform .remember {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0.7rem 0;
  }
  .loginform .remember label {
    font-size: 1.5rem;
    color: #666;
    cursor: pointer;
  }
  .loginform .btn {
    margin: 1rem 0;
    width: 100%;
    text-align: center;
  }
  .loginform p {
    color: #666;
    padding-top: 0.7rem;
    font-size: 1.4rem;
  }
  .loginform p a {
    color: #bac34e;
  }
  .loginform p a:hover {
    text-decoration: underline;
  }