@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
*{
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  background: #ffd700;
  color: #fff;
  font-size: 1.7rem;
  cursor: pointer;
}
.btn:hover {
  background: #222;
}

 .shopping_cart {
  position: absolute;
  top: 115%;
  right: -105%;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  width: 35rem;
  padding: 2rem;
  right: 2rem;
  transition: 0.4s linear;
}
 .shopping_cart .box {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  position: relative;
}
 .shopping_cart .box .fatimes {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #666;
  cursor: pointer;
}
 .shopping_cart .box .fatimes:hover {
  color: #ffd700;
}
 .shopping_cart .box img {
  height: 10rem;
}
 .shopping_cart .box .content h3 {
  font-size: 1.7rem;
  padding-bottom: 0.5rem;
  color: #222;
}
 .shopping_cart .box .content span {
  font-size: 1.5rem;
  color: #666;
}
 .shopping_cart .box .content span.multiply {
  margin: 0 0.5rem;
}
 .shopping_cart .total {
  color: #666;
  text-align: center;
  font-size: 2.2rem;
}
 .shopping_cart .total span {
  color: #222;
}
 .shopping_cart .btn {
  text-align: center;
  width: 100%;
}