@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 3rem;
    background: #ffd700;
    color: #fff;
    font-size: 1.7rem;
    cursor: pointer;
  }
  .btn:hover {
    background: #222;
  }

.heading {
    background: url("https://images.unsplash.com/photo-1635893709050-4d9557fcb75b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80") no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 12rem;
    padding-bottom: 8rem;
    
  }
  .heading h1 {
    color: white;
    font-size: 4rem;
  }
  .heading p {
    padding-top: 1rem;
    font-size: 2rem;
    color: white;
  }
  .heading p a {
    color:white;
    padding-right: 0.5rem;
  }
  .heading p a:hover {
    color: #ffd700;
  }
  .title {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    padding: 1.2rem 0;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
    color: #222;
  }
  .title span {
    color: #ffd700;
    padding-left: 0.7rem;
  }
  .title a {
    margin-left: auto;
    color: #666;
    font-size: 1.5rem;
  }
  .title a:hover {
    color: #ffd700;
  }

.category .boxcontainer {
  padding: 3rem 9%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
  grid-template-rows: repeat(auto-fit,2fr);
  padding: 4rem 0;
}
.category{
  padding: 3rem 9%;
}
.category .boxcontainer .box {
  text-align: center;
}
.category .boxcontainer .box img {
  height: 15rem;
}
.category .boxcontainer .box h3 {
  font-size: 2rem;
  margin: 1rem 0;
  color: #666;
}
.category .boxcontainer .box:hover h3 {
  color: #ffd700;
}

.product{
  padding: 3rem 9%;
}

.product .boxcontainer {
  padding: 0rem 9%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
}
.product .image {
  
  flex: 1 1 40rem;
}
.product .image img {
  width: 100%;
  height: 70%
}
.product .content {
  flex: 1 1 40rem;
}
.product .content span {
  color: #ffd700;
  font-size: 2.5rem;
}
.product .content h3 {
  color: #222;
  font-size: 3rem;
  padding-top: 0.5rem;
}
.product .content p {
  color: #666;
  font-size: 1.4rem;
  line-height: 2;
  padding: 1rem 0;
}
/* .products .box-container {
  padding: 3rem 9%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-template-rows: repeat(auto-fit,1fr);
  gap: 1.5rem;
  
}
.products .boxcontainer .box {
  position: relative;
  background: #f3f3f3;
  text-align: center;
  overflow: hidden;
  width:500px;
  height: 500px;
  align-items: center;
}
.products .boxcontainer .box:hover .icons {
  top: 0;
}
.products .boxcontainer .box .icons {
  position: absolute;
  top: -105%;
  left: 0;
  height: 30rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(243, 243, 243, 0.8);
  gap: 1rem;
}
.products .boxcontainer .box .icons a {
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  color: #666;
}
.products .boxcontainer .box .icons a:hover {
  background: #ffd700;
  color: #fff;
}
.products .boxcontainer .box .image {
  height: 30rem;
  width: 100%;
  overflow: hidden;
}
.products .boxcontainer .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.products .boxcontainer .box .content {
  padding: 1.5rem;
}
.products .box-container .box .content h3 {
  font-size: 2rem;
  color: #222;
}
.products .boxcontainer .box .content .price {
  font-size: 2rem;
  color: #222;
  padding: 1rem 0;
}
.products .box
container .box .content .stars i {
  font-size: 1.7rem;
  color: #ffd700;
} */
