@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.heading {
   
  background: url("https://images.unsplash.com/photo-1635893709050-4d9557fcb75b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80") no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 12rem;
  padding-bottom: 8rem;
  
}
.heading h1 {
  color: white;
  font-size: 4rem;
}
.heading p {
  padding-top: 1rem;
  font-size: 2rem;
  color: white;
}
.heading p a {
  color:white;
  padding-right: 0.5rem;
}
.heading p a:hover {
  color: #ffd700;
}


.title {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  padding: 1.2rem 0;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  color: #222;
}
.title span {
  color: #ffd700;
  padding-left: 0.7rem;
}
.title a {
  margin-left: auto;
  color: #666;
  font-size: 1.5rem;
}
.title a:hover {
  color: #ffd700;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  background: #ffd700;
  color: #fff;
  font-size: 1.7rem;
  cursor: pointer;
}
.btn:hover {
  background: #222;
}


.boxcontainer {
  padding: 1rem 2%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
}

.contact{
    padding: 3rem 9%;
}
.contact .iconscontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
    gap: 1.5rem;
  }
  .contact .iconscontainer .icons {
    text-align: center;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    padding: 2rem;
  }
  .contact .iconscontainer .icons i {
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    padding: 8px;
    background: #ffd700;
    color: #fff;
    border-radius: 50%;
  }
  .contact .iconscontainer .icons h3 {
    color: #222;
    font-size: 2rem;
    padding: 1rem 0;
  }
  .contact .iconscontainer .icons p {
    color: #666;
    font-size: 1.5rem;
    line-height: 2;
  }
  .contact .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
  }
  .contact .row form {
    padding: 2rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    flex: 1 1 40rem;
  }
  .contact .row form h3 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
    color: #222;
  }
  .contact .row form .inputBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .contact .row form .inputBox input {
    width: 49%;
  }
  .contact .row form .inputBox .box,
  .contact .row form textarea {
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    color: #222;
    text-transform: none;
    margin: 0.7rem 0;
  }
  .contact .row form textarea {
    width: 100%;
    height: 15rem;
    resize: none;
  }
  .contact .row .map {
    flex: 1 1 40rem;
    width: 100%;
  }
  