@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 3rem;
    background: #ffd700;
    color: #fff;
    font-size: 1.7rem;
    cursor: pointer;
  }
  .btn:hover {
    background: #222;
  }
  .bannercontainer {
    padding: 3rem 9%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 1.5rem;
  }
  .bannercontainer .banner {
    position: relative;
    height: 25rem;
    overflow: hidden;
  }
  .bannercontainer .banner:hover img {
    transform: scale(1.2);
  }
  .bannercontainer .banner img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .bannercontainer .banner .content {
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
  }
  .bannercontainer .banner .content span {
    color: #666;
    font-size: 1.5rem;
  }
  .bannercontainer .banner .content h3 {
    font-size: 2rem;
    padding-top: 0.5rem;
    color: #222;
  }
  .bannercontainer .banner .content .btn {
    padding: 0.8rem 2.5rem;
  }
  