@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
*{
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.title {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  padding: 1.2rem 0;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  color: #222;
}
.title span {
  color: #bac34e;
  padding-left: 0.7rem;
}
.title a {
  margin-left: auto;
  color: #666;
  font-size: 1.5rem;
}
.title a:hover {
  color: #bac34e;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  background: #bac34e;
  color: #fff;
  font-size: 1.7rem;
  cursor: pointer;
}
.btn:hover {
  background: #222;
}



.about {
    margin: 0.5rem 9%; 
    gap: 1.5rem;
  }
  .about .boxcontainer {
    padding: 0rem 9%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
  }
  .about .image {
    
    flex: 1 1 40rem;
  }
  .about .image img {
    width: 100%;
    height: 70%
  }
  .about .content {
    flex: 1 1 40rem;
  }
  .about .content span {
    color: #bac34e;
    font-size: 2.5rem;
  }
  .about .content h3 {
    color: #222;
    font-size: 3rem;
    padding-top: 0.5rem;
  }
  .about .content p {
    color: #666;
    font-size: 1.4rem;
    line-height: 2;
    padding: 1rem 0;
  }
  .gallery{
    padding: 3rem 9%;
  }
  .gallery .boxcontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    
    gap: 1.5rem;
    justify-items: flex-start;
  }
  .gallery .boxcontainer .box {
    height: 25rem;
    overflow: hidden;
    position: relative;
  }
  .gallery .boxcontainer .box img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .gallery .boxcontainer .box:hover img {
    transform: scale(1.2);
  }
  .gallery .boxcontainer .box:hover .icons {
    bottom: 0;
  }
  .gallery .boxcontainer .box .icons {
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 1.5rem 0;
    position: absolute;
    bottom: -6rem;
    left: 0;
    right: 0;
    z-index: 10;
  }
  .gallery .boxcontainer .box .icons a {
    font-size: 2.5rem;
    color: #fff;
    margin: 0 1.5rem;
  }
  .gallery .boxcontainer .box .icons a:hover {
    color: #bac34e;
  }
  
  .infocontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
  }
  .infocontainer .info {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;
  }
  .infocontainer .info img {
    height: 7rem;
  }
  .infocontainer .info .content h3 {
    font-size: 2rem;
    color: #222;
    padding-bottom: 0.5rem;
  }
  .infocontainer .info .content span {
    font-size: 1.5rem;
    color: #666;
  }
  
  .review {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
  }
  .review .box {
    padding: 2rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
  }
  .review .box .user {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .review .box .user img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
  }
  .review .box .user h3 {
    font-size: 2.2rem;
    color: #222;
  }
  .review .box .user span {
    font-size: 1.4rem;
    color: #bac34e;
  }
  .review .box p {
    font-size: 1.4rem;
    color: #666;
    line-height: 2;
  }
